body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('https://www.cerema.fr/sites/default/files/styles/uas_medium/public/media/images/2019/07/tree-189852_1920.jpg?itok=Ipz2Er5w');
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}